<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header text-bg-dark">
        <h2>CAMBIAR CONTRASEÑA</h2>
    </div>
    <div class="card-body">
        <form th:action="@{/auth/cambiar-password}" method="post">
            <div class="form-group">
                <label for="nuevoPassword">Nueva Contraseña:</label>
                <input type="password" id="nuevoPassword" name="newPassword" class="form-control"
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                       title="Mínimo 8 caracteres, al menos una letra mayúscula, una letra minúscula, un número y un carácter especial"
                       required/>
            </div>
            <div class="form-group">
                <label for="confirmarPassword">Confirmar Nueva Contraseña:</label>
                <input type="password" id="confirmarPassword" name="confirmPassword" class="form-control" required/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">CAMBIAR CONTRASEÑA</button>
            <a class="btn btn-secondary" href="/auth/dashboard">ATRÁS</a>

        </form>
    </div>
</div>

</body>
</html>

